.markdown h1,
.markdown h2 {
    text-align: center;
}

.markdown {
    font-size: 24px;
}

.markdown pre.code-block-manual,
.markdown pre.code-block-manual code {
    font-family: "JetBrains Mono", monospace;
    font-size: 12px !important;
    line-height: 1.5;
}
